@import '_presets.scss';
@import '_mixins.scss';
@import '_variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Body */
body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $lightGrayishBlue;
    font-size: $bodyFontSize;
    font-family: $fontFam;
    overflow: hidden;
}

#articlePreview {
   /* background: #fff;*/
    padding: 20px;
}

#articleImg {
    width: auto;
    img {
        width: 100%;
        border-radius: 1em 1em 0 0;
    }
}

#articleTxt {
    background: #fff;
    padding: 30px;
    line-height: 1.5em;
    h4 {
        color: $desaturatedDarkBlue;
        padding: 0 0 1.5em 0;
    }
    p {
        color: $grayishBlue;
    }
}

/* Article Profile */
#articleProfile {
    background: #fff;

}